.custom-button-container {
    padding: 6px 10px;
    border-radius: 5px;
    background: linear-gradient(259.93deg, #3f3f3f -41.68%, #00a4dbec 146.85%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button-container:hover {
    cursor: pointer;
}
